<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lobby</title>

    <link rel="stylesheet" href="/styles.css" />
</head>

<body class="home">
    <div class="ver-cont home">
        <h1 class="lobby-title">Lobby</h1>
        <div class="hor-cont">
            <div class="room">
                <img src="/res/img/serie/settings-icon.png" alt="settings" class="settings-icon">
                <h2 class="room-title">Mesa 1</h2>
                <div class="hor-cont">
                    <div class="team-cont">
                        <h3 class="room-team-name">Equipo 1</h3>
                        <button class="isplayer"> <img src="res/img/serie/user_profile.png" alt="user_profile" class="team-player-profile"> Player 1 </button>
                        <button class="noplayer">Ingresar</button>
                    </div>
                    <div class="team-cont">
                        <h3 class="room-team-name">Equipo 2</h3>
                        <button class="isplayer"> <img src="res/img/serie/user_profile.png" alt="user_profile" class="team-player-profile"> Player 1</button>
                        <button class="noplayer">Ingresar</button>
                    </div>
                </div>
            </div>
            <div class="room">
                <img src="/res/img/serie/settings-icon.png" alt="settings" class="settings-icon">
                <h2 class="room-title">Mesa 2</h2>
                <div class="hor-cont">
                    <div class="team-cont">
                        <h3 class="room-team-name">Equipo 1</h3>
                        <button class="isplayer"> <img src="res/img/serie/user_profile.png" alt="user_profile" class="team-player-profile"> Player 1 </button>
                        <button class="noplayer">Ingresar</button>
                    </div>
                    <div class="team-cont">
                        <h3 class="room-team-name">Equipo 2</h3>
                        <button class="isplayer"> <img src="res/img/serie/user_profile.png" alt="user_profile" class="team-player-profile"> Player 1</button>
                        <button class="noplayer">Ingresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>