<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lobby</title>

    <link rel="stylesheet" href="/styles.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="juego">
        <div class="div">
            <div class="overlap">
                <div class="overlap-group">
                    <div class="text-wrapper">Equipo 1</div>
                    <div class="text-wrapper-2">Equipo 2</div>
                    <div class="text-wrapper-3">24</div>
                    <div class="text-wrapper-4">pts:</div>
                    <div class="text-wrapper-5">24</div>
                    <div class="text-wrapper-6">pts:</div>
                </div>
                <div class="rectangle"></div>
                <div class="vector-wrapper"><img class="vector" src="img/image.svg" /></div>
                <div class="overlap-2">
                    <div class="group">
                        <div class="overlap-3">
                            <div class="text-wrapper-7">prueba</div>
                            <div class="text-wrapper-8">Player 1</div>
                        </div>
                    </div>
                    <div class="overlap-wrapper">
                        <div class="overlap-3">
                            <div class="text-wrapper-7">prueba 2</div>
                            <div class="text-wrapper-8">Player 2</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rectangle-2"></div>
            <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                    <img class="img" src="img/vector-3.svg" />
                    <div class="text-wrapper-9">Player 1</div>
                    <div class="text-wrapper-10">5 pts</div>
                    <div class="text-wrapper-11">None</div>
                </div>
            </div>
            <div class="div-wrapper">
                <div class="overlap-group-2">
                    <img class="img" src="img/vector-4.svg" />
                    <div class="text-wrapper-9">Player 1</div>
                    <div class="text-wrapper-10">5 pts</div>
                    <div class="text-wrapper-11">None</div>
                </div>
            </div>
            <div class="group-2">
                <div class="overlap-group-2">
                    <img class="img" src="img/vector-2.svg" />
                    <div class="text-wrapper-9">Player 1</div>
                    <div class="text-wrapper-10">5 pts</div>
                    <div class="text-wrapper-11">None</div>
                </div>
            </div>
            <div class="group-3">
                <div class="overlap-group-2">
                    <img class="img" src="img/vector.svg" />
                    <div class="text-wrapper-9">Player 1</div>
                    <div class="text-wrapper-10">5 pts</div>
                    <div class="text-wrapper-11">None</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>