<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Juego - Mesa <%= id %></title>

    <link rel="stylesheet" href="/css/mesa.css" />
</head>

<body>
    <div class="juego">
        <div class="tablero">
            <img src="/res/img/cards/card-back1.png" id="table_card1" alt="table_card1" class="table-card tc1">
            <img src="/res/img/cards/card-back1.png" id="table_card2" alt="table_card2" class="table-card tc2">
            <img src="/res/img/cards/card-back1.png" id="table_card3" alt="table_card3" class="table-card tc3">
            <img src="/res/img/cards/card-back1.png" id="table_card4" alt="table_card4" class="table-card tc4">
            <img src="/res/img/cards/card-back1.png" id="table_card5" alt="table_card5" class="table-card tc5">
            <img src="/res/img/cards/card-back1.png" id="table_card6" alt="table_card6" class="table-card tc6">
            <img src="/res/img/cards/card-back1.png" id="table_card7" alt="table_card7" class="table-card tc7">
            <img src="/res/img/cards/card-back1.png" id="table_card8" alt="table_card8" class="table-card tc8">
            <img src="/res/img/cards/card-back1.png" id="table_card9" alt="table_card9" class="table-card tc9">
            <img src="/res/img/cards/card-back1.png" id="table_card10" alt="table_card1" class="table-card tc10">
        </div>
        <div class="tarjeta-player p4">
            <img src="/res/img/serie/user_profile.png" alt="user_profile" class="profile-img">
            <h2 class="profile-name">Player 4</h2>
            <h3 class="profile-desc">None</h3>
            <h3 class="profile-pts">5 pts</h3>
        </div>
        <img src="/res/img/cards/card-back1.png" id="p4_card1" alt="p4_card1" class="player_cards rotate90 p4_card1">
        <img src="/res/img/cards/card-back1.png" id="p4_card2" alt="p4_card2" class="player_cards rotate90 p4_card2">
        <img src="/res/img/cards/card-back1.png" id="p4_card3" alt="p4_card3" class="player_cards rotate90 p4_card3">

        <div class="tarjeta-player p2">
            <img src="/res/img/serie/user_profile.png" alt="user_profile" class="profile-img">
            <h2 class="profile-name">Player 2</h2>
            <h3 class="profile-desc">None</h3>
            <h3 class="profile-pts">5 pts</h3>
        </div>
        <img src="/res/img/cards/card-back1.png" id="p2_card1" alt="p2_card1" class="player_cards p2_card1">
        <img src="/res/img/cards/card-back1.png" id="p2_card2" alt="p2_card2" class="player_cards p2_card2">
        <img src="/res/img/cards/card-back1.png" id="p2_card3" alt="p2_card3" class="player_cards p2_card3">

        <div class="tarjeta-player p3">
            <img src="/res/img/serie/user_profile.png" alt="user_profile" class="profile-img">
            <h2 class="profile-name">Player 3</h2>
            <h3 class="profile-desc">None</h3>
            <h3 class="profile-pts">5 pts</h3>
        </div>
        <img src="/res/img/cards/card-back1.png" id="p3_card1" alt="p3_card1" class="player_cards rotate90 p3_card1">
        <img src="/res/img/cards/card-back1.png" id="p3_card2" alt="p3_card2" class="player_cards rotate90 p3_card2">
        <img src="/res/img/cards/card-back1.png" id="p3_card3" alt="p3_card3" class="player_cards rotate90 p3_card3">

        <div class="tarjeta-player p1">
            <img src="/res/img/serie/user_profile.png" alt="user_profile" class="profile-img">
            <h2 class="profile-name">Player 1</h2>
            <h3 class="profile-desc">None</h3>
            <h3 class="profile-pts">5 pts</h3>
        </div>
        <img src="/res/img/cards/card-back1.png" id="p1_card1" alt="p1_card1" class="player_cards p1_card1">
        <img src="/res/img/cards/card-back1.png" id="p1_card2" alt="p1_card2" class="player_cards p1_card2">
        <img src="/res/img/cards/card-back1.png" id="p1_card3" alt="p1_card3" class="player_cards p1_card3">
        
        <div class="chat">
            <div class="chat-header">
                <h2 class="team-name tname1">Equipo 1</h2>
                <h2 class="team-name tname2">Equipo 2</h2>
                <p class="pts-name pname1">pts:</p>
                <p class="pts-name pname2">pts:</p>
                <h3 class="pts-num pnum1">24</h3>
                <h3 class="pts-num pnum2">24</h3>
            </div>
            <div class="chat-body">
                <div class="msg-cont">
                    <p class="msg-user">player 1</p>
                    <p class="msg-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="msg-cont">
                    <p class="msg-user">player 2</p>
                    <p class="msg-txt">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
            <div class="chat-footer">
                <textarea rows="2" class="chat-input"></textarea>
                <button class="chat-send"><img src="/res/img/serie/arrow-right.webp" alt="send-img"></button>
            </div>
        </div>
    </div>

    <script src="/js/game.js" type="module"></script>
</body>

</html>
