html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.home {
    background-color: #11151C;
}

.home-text {
    font-size: 96px;
    margin-top: 72px;
    font-family: Georgia;
    color: white;
}

.rl-text {
    font-size: 50px;
    margin-bottom: 30px;
    font-family: Georgia;
    color: white;
}

.regform {
    padding: 25px;
    border-radius: 14px;
    background-color: #563C36;
    width: 60%;
}

input.input-form {
    background-color: #866F69;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
}

input.input-form::placeholder {
    color: whitesmoke;
}

button.button-green {
    background-color: #3F4C64;
    border-radius: 14px;
    border: none;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 10px 30px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button.button-green:hover {
    background-color: #2f4fa5;
}

.text-link {
    color: white;
}

.text-link:hover {
    color: #1b3270;
    cursor: pointer;
}

.bigger {
    width: 100%;
}

.taller {
    height: 100%;
}

.ver-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hor-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.lobby-title {
    margin-top: 6%;
    color: white;
    font-family: "Inter-Regular", Helvetica;
    font-size: 55px;
}

.room {
    position: relative;
    background-color: #563C36;
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom: 5%;
    height: 55%;
    width: 43%;
    border-radius: 30px;
    border: 1px solid;
    border-color: #000000;
}

.settings-icon {
    position: absolute;
    top: 4%;
    left: 2%;
    width: 5%;
}
.room-title {
    position: absolute;
    top: 4%;
    left: 42%;
    font-size: 200%;
    font-family: "Inter-Regular", Helvetica;
    color: #ffffff;
    margin: 0;
}
.team-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #866F69;
    height: 60%;
    width: 70%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.room-team-name {
    color: #ffffff;
    font-size: 30px;
}
.isplayer {
    margin-bottom: 8%;
    height: 10%;
    background-color: #212D40;
    color: white;
}

.juego {
    background-color: #cfbb86;
    height: 100%;
    width: 100%;
}

.tarjeta-player {
    position: absolute;
    width: 12%;
    height: 13%;
    background-color: #82735c;
    border-radius: 9px;
    border: 1px solid;
    border-color: #000000;
}
.profile-img {
    position: absolute;
    top: 19px;
    left: 7%;
    height: 35%;
}
.profile-name {
    position: absolute;
    top: 3%;
    left: 35%;
    color: #ffffff;
    font-size: 25px;
    font-family: "Inter-Regular", Helvetica;
}
.profile-desc {
    position: absolute;
    top: 45%;
    left: 7%;
    font-family: "Inter-Regular", Helvetica;
    color: #ffffff;
}
.profile-pts {
    position: absolute;
    top: 45%;
    left: 67%;
    font-family: "Inter-Regular", Helvetica;
    color: #ffffff;
}
.p1 {
    top: 2%;
    left: 1%;
}
.p3 {
    top: 85%;
    left: 62%;
}
.p2 {
    top: 2%;
    left: 62%;
}
.p4 {
    top: 85%;
    left: 1%;
}

.tablero {
    position: absolute;
    top: 25%;
    left: 17%;
    width: 43%;
    height: 50%;
    background-color: #9db17c;
    border-radius: 27px;
    border: 1px solid;
    border-color: #000000;
}

.chat {
    position: absolute;
    top: 0;
    left: 75%;
    height: 100%;
    width: 25%;
    background-color: #d9d9d9;
}

.chat-header {
    position: absolute;
    width: 90%;
    height: 25%;
    top: 3%;
    left: 5%;
    border-radius: 14px;
    border: 1px solid;
    border-color: #000000;
}

.team-name {
    position: absolute;
    top: 7%;
    font-size: 200%;
    font-family: "Inter-Regular", Helvetica;
    color: #000000;
}
.tname1 {
    left: 7%;
}
.tname2 {
    left: 57%;
}

.pts-name {
    position: absolute;
    top: 30%;
    font-family: "Inter-Regular", Helvetica;
    color: #000000;
    line-height: normal;
}
.pname1 {
    left: 10%;
}
.pname2 {
    left: 60%;
}

.pts-num {
    position: absolute;
    top: 30%;
    font-size: 250%;
    font-family: "Inter-Regular", Helvetica;
    color: #000000;
    line-height: normal;
}
.pnum1 {
    left: 9%;
}
.pnum2{
    left: 59%;
}

.chat-body {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 90%;
    height: 60%;
    border-radius: 14px;
    border: 1px solid;
    border-color: #000000;
    overflow-x: hidden;
    overflow-y: scroll;
}
.msg-cont {
    background-color: #1755b2;
    border-radius: 10px;
    width: 60%;
    margin-top: 5%;
    margin-left: 3%;
}
.msg-user {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    margin-top: 3%;
    margin-left: 3%;
    padding-top: 2%;
}
.msg-txt {
    color: #c4c4c4;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 3%;
    margin-left: 13%;
    padding-right: 4%;
    padding-bottom: 4%;
}

.chat-footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 91%;
    left: 5%;
    width: 90%;
    height: 6%;
    align-items: center;
}
.chat-input {
    position: absolute;
    left: 0%;
    width: 83%;
    height: 60%;
    border-radius: 14px;
    border: 1px solid;
    border-color: #5f5f5f;
    padding-left: 10px;
    resize: none;
}
.chat-send {
    position: absolute;
    left: 90%;
    width: 10%;
    height: 60%;
    border-radius: 14px;
    border: 1px solid;
    border-color: #0c26bd;
    background-color: #0c26bd;
    font-family: "Inter-Regular", Helvetica;
    color: #ffffff;
    font-weight:bolder;
    font-size: 120%;
}
.chat-send:hover {
    background-color: #0b154d;
}
.chat-send img {
    position: absolute;
    top: 17%;
    left: 25%;
    width: 50%;
    filter: invert(100%);
}


::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: #0c26bd;
    border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b154d;
}
